.title {
  margin-bottom: 3rem;
}

.posts {
  list-style: none;
  margin: 0;
}

.post {
  margin: 1rem 0;
  
  a {
    background: #f7edff;
    color: #000000;
    display: block;
    padding: 1rem;
    text-decoration: none;
  }

  a:hover {
    background: rgb(238, 212, 255);
  }

  h2 {
    margin-bottom: 0;
  }

  p {
    font-size: .8rem;
    font-style: italic;
    margin: 10px 0;
    color: #777777;
  }

}